#### Conside the following code to answer the further questions

In [1]:
import pandas as pd
course_name = ["Data Science", "Machine Learning", "Big Data", "Data Engineer"]
duration = [2,3,6,4]
df = pd.DataFrame(data = {"course_name" : course_name, "duration" : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

---

#### Q1. Write a code to print the data present in the second row of the dataframe, df.

Ans.

In [2]:
df.iloc[1:2,:]

        course_name  duration
1  Machine Learning         3

---

#### Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

Ans.

**LOC:**
- Selects data based on row and column labels.  

**iLOC:**
- Selects data based on interger position of rows and columns.

---

#### Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df then find the output for both new_df.loc[2] and new_df.iloc[2].

Ans.

In [3]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.333127  0.877826  0.953873  0.750251  0.868111  0.917523
2  0.826236  0.857816  0.488319  0.680353  0.661361  0.149950
3  0.512901  0.497704  0.102390  0.122365  0.775132  0.810243
4  0.152984  0.660870  0.890256  0.332194  0.867747  0.359186
5  0.909901  0.616147  0.810025  0.186670  0.960276  0.105943
6  0.625713  0.621909  0.207802  0.025576  0.136589  0.035536

In [4]:
r_index=  [3,0,1,2]

new_df = df1.reindex(r_index)

print(new_df,"\n")
print(new_df.loc[2],"\n")
print(new_df.iloc[2])

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.512901  0.497704  0.102390  0.122365  0.775132  0.810243
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.333127  0.877826  0.953873  0.750251  0.868111  0.917523
2  0.826236  0.857816  0.488319  0.680353  0.661361  0.149950

column_1    0.826236
column_2    0.857816
column_3    0.488319
column_4    0.680353
column_5    0.661361
column_6    0.149950
Name: 2, dtype: float64

column_1    0.333127
column_2    0.877826
column_3    0.953873
column_4    0.750251
column_5    0.868111
column_6    0.917523
Name: 1, dtype: float64

---

#### Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.  
(ii) standard deviation of column, ‘column_2’

Ans.

In [5]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.333127  0.877826  0.953873  0.750251  0.868111  0.917523
2  0.826236  0.857816  0.488319  0.680353  0.661361  0.149950
3  0.512901  0.497704  0.102390  0.122365  0.775132  0.810243
4  0.152984  0.660870  0.890256  0.332194  0.867747  0.359186
5  0.909901  0.616147  0.810025  0.186670  0.960276  0.105943
6  0.625713  0.621909  0.207802  0.025576  0.136589  0.035536

In [6]:
c_mean = df1.mean()
print(c_mean)

column_1    0.560144
column_2    0.688712
column_3    0.575444
column_4    0.349568
column_5    0.711536
column_6    0.396397
dtype: float64

In [7]:
c_std = df1["column_2"].std()
print(c_std)

0.1492299941832636

---

#### Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [8]:
df1.loc[2, 'column_2'] = 'string_value'

try:
    mean_column_2 = df1['column_2'].mean()
    print(f"Mean of column_2: {mean_column_2}")
except Exception as e:
    print(f"Error encountered: {e}")

Error encountered: unsupported operand type(s) for +: 'float' and 'str'

C:\Users\Hp\AppData\Local\Temp\ipykernel_18952\60089002.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'string_value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df1.loc[2, 'column_2'] = 'string_value'

---

#### Q6. What do you understand about the windows function in pandas and list the types of windows functions?

Ans.

A window function in pandas is used to perform operations on a sliding or rolling subset of data over a specified window (size). These functions are particularly useful for time-series data or data that needs aggregation or computation over a specific interval.  

Types of window functions:
1. Rolling window.
2. Expanding window.
3. Exponential Weighted window.
4. time based rolling window.

---

#### Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]

In [9]:
current_date = pd.Timestamp.now()

current_month = current_date.month
current_year = current_date.year

print(f"Current month:year => {current_month}:{current_year}")

Current month:year => 1:2025

---

#### Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and calculates the difference between them in days, hours, and minutes using Pandas time delta. The program should prompt the user to enter the dates and display the result.

In [10]:
import pandas as pd

date_1 = input("Enter the first date (YYYY-MM-DD): ")
date_2 = input("Enter the second date (YYYY-MM-DD): ")

date1 = pd.Timestamp(date_1)
date2 = pd.Timestamp(date_2)

time_difference = abs(date2 - date1)

days = time_difference.days
hours = time_difference.components.hours
minutes = time_difference.components.minutes

print(f"The difference between the two dates is:")
print(f"{days} days, {hours} hours and {minutes} minutes.")

The difference between the two dates is:
22 days, 0 hours and 0 minutes.

---

#### Q9.

---

#### Q10.

---

#### Q11.