#### Q1. List any five functions of the pandas library with execution.

Ans.

In [1]:
import pandas as pd

In [2]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'Age': [23, 35, 45, 25, 33],
    'Salary': [70000, 85000, 120000, 55000, 65000],
    'Department': ['HR', 'Engineering', 'Finance', 'Marketing', 'HR']
}
df = pd.DataFrame(data)
df

      Name  Age  Salary   Department
0    Alice   23   70000           HR
1      Bob   35   85000  Engineering
2  Charlie   45  120000      Finance
3    David   25   55000    Marketing
4      Eva   33   65000           HR

##### 1. head() - Get the first n rows of the DataFrame

In [3]:
print("head():\n", df.head(3))

head():
       Name  Age  Salary   Department
0    Alice   23   70000           HR
1      Bob   35   85000  Engineering
2  Charlie   45  120000      Finance

##### 2. describe() - Get summary statistics for numeric columns

In [4]:
print("\ndescribe():\n", df.describe())

describe():
              Age         Salary
count   5.000000       5.000000
mean   32.200000   79000.000000
std     8.786353   25347.583711
min    23.000000   55000.000000
25%    25.000000   65000.000000
50%    33.000000   70000.000000
75%    35.000000   85000.000000
max    45.000000  120000.000000

##### 3. sort_values() - Sort the DataFrame by particular column

In [5]:
print("\nsort_values():\n", df.sort_values("Age"))

sort_values():
       Name  Age  Salary   Department
0    Alice   23   70000           HR
3    David   25   55000    Marketing
4      Eva   33   65000           HR
1      Bob   35   85000  Engineering
2  Charlie   45  120000      Finance

##### 4. groupby() - Group by columns and calculate average/sum/count.. of particular given parameter

In [6]:
print("\ngroupby():\n", df.groupby("Department")["Salary"].mean())

groupby():
 Department
Engineering     85000.0
Finance        120000.0
HR              67500.0
Marketing       55000.0
Name: Salary, dtype: float64

##### 5. drop() - Drop the single column or miultiple columns.

In [7]:
print("\ndrop():\n", df.drop("Department", axis=1, inplace= True), "\n",df)

drop():
 None
       Name  Age  Salary
0    Alice   23   70000
1      Bob   35   85000
2  Charlie   45  120000
3    David   25   55000
4      Eva   33   65000

---

#### Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row.

Ans.

In [8]:
def reindex_dataframe(df):
    new_index = range(1, len(df) * 2, 2)
    df = df.reindex(new_index)
    return df

data = {'A': [10, 20, 30, 40, 50, 60], 
        'B': [70, 80, 90, 100, 110, 120], 
        'C': [130, 140, 150, 160, 170, 180]}
df = pd.DataFrame(data)

reindexed_df = reindex_dataframe(df)
print(reindexed_df)

       A      B      C
1   20.0   80.0  140.0
3   40.0  100.0  160.0
5   60.0  120.0  180.0
7    NaN    NaN    NaN
9    NaN    NaN    NaN
11   NaN    NaN    NaN

---

#### Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The function should print the sum to the console.
#### For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should calculate and print the sum of the first three values, which is 60.

Ans.

In [9]:
def sum_first_three(df):
    # Check if the DataFrame has at least 3 rows
    if len(df['Values']) < 3:
        print("Not enough values in the DataFrame")
        return

    sum_values = df['Values'].iloc[:3].sum()
    print("Sum of the first three values:", sum_values)

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

Sum of the first three values: 60

In [10]:
data = {'Values': [45, 20, 35, 0, 5]}
df = pd.DataFrame(data)
sum_first_three(df)

Sum of the first three values: 100

---

#### Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.

Ans.

In [11]:
data = {
    'Text': [
        "Hello, I'm Kanishk Mandrelia",
        "I want to be Data Scientist",
        "Python is great language for data science",
    ]
}

df = pd.DataFrame(data)

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split(" ")))
    return df

df = add_word_count(df)

print(df)

                                        Text  Word_Count
0               Hello, I'm Kanishk Mandrelia           4
1                I want to be Data Scientist           6
2  Python is great language for data science           7

---

#### Q5. How are DataFrame.size() and DataFrame.shape() different?

Ans.

**1. DataFrame.size**
- Definition: Returns the total number of elements in the dataFrame/dataset.
- Calculation: It is the product of the number of rows and columns (rows * columns).
- Example: If a dataFrame has 3 rows and 4 columns, *DataFrame.size* will return 12.
- Syntax: df.size.

**2. DataFrame.shape**
- Definition: Returns the dimensions of the dataFrame/dataset.
- Output: The output is (number of rows, number of columns).
- Example: For a dataFrame with 3 rows and 4 columns, *DataFrame.shape* will return (3, 4).
- Syntax: df.shape.

---

#### Q6. Which function of pandas do we use to read an excel file?

Ans.

In Pandas, we use the **pd.read_excel()** function to read an *Excel file* into a *DataFrame*.

---

#### Q.7 You have a Pandas DataFrame df that contains a column named 'Email' that contains email addresses in the format 'username@domain.com'. Write a Python function that creates a new colum 'Username' in df that contains only the username part of each email address.

#### The username is the part of the email address that appears before the '@' symbol. For example, if the email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your function should extract the username from each email address and store it in the new 'Username' column.

Ans

In [12]:
dic = {
    "Email": ["kanishk@gmail.com","reena@gmail.com","deepak@gmail.com","raghav@gmail.com","nidhi@gmail.com","mamta@gmail.com","anuj@gmail.com","nishant@gamail.com"]
}

df = pd.DataFrame(dic)

def username(df):
    df["Username"] = df["Email"].apply(lambda x : str(x).split("@")[0])
    return df

n_df = username(df)
n_df

                Email Username
0   kanishk@gmail.com  kanishk
1     reena@gmail.com    reena
2    deepak@gmail.com   deepak
3    raghav@gmail.com   raghav
4     nidhi@gmail.com    nidhi
5     mamta@gmail.com    mamta
6      anuj@gmail.com     anuj
7  nishant@gamail.com  nishant

---

#### Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The function should return a new DataFrame that contains only the selected rows.
#### For example, if df contains the following values:
__A B C  
0 3 5 1  
1 8 2 7  
2 6 9 4  
3 2 3 5  
4 9 1 2  
#### Your function should select the following rows: A B C
1 8 2 7  
4 9 1 2  
#### The function should return a new DataFrame that contains only the selected rows.

Ans.

In [13]:
data = {
    "A" : [3,8,6,2,9],
    "B" : [5,2,9,3,1],
    "C" : [1,7,4,5,2]
}
df = pd.DataFrame(data)
df

   A  B  C
0  3  5  1
1  8  2  7
2  6  9  4
3  2  3  5
4  9  1  2

In [14]:
def filtered_df(df):
    filter_df = df[(df["A"]>5) & (df["B"]<10)]
    return filter_df

In [15]:
result = filtered_df(df)
print(result)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

---

#### Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean, median, and standard deviation of the values in the 'Values' column.

Ans.

In [16]:
import pandas as pd
import numpy as np

In [17]:
data = {
    "values" : [7.91, 9.04, 8.32, 9.34, 8.48, 9.9, 8.84,8.84]
}
df = pd.DataFrame(data)
df

   values
0    7.91
1    9.04
2    8.32
3    9.34
4    8.48
5    9.90
6    8.84
7    8.84

In [18]:
def mean_median_std(df):
    col = df["values"]
    print(f" The mean of column 'values' is: {col.mean()}")
    print(f" The median of column 'values' is: {col.median()}")
    print(f" The standard deviation of column 'values' is: {col.std()}")

In [19]:
m_m_std = mean_median_std(df)
m_m_std

 The mean of column 'values' is: 8.83375
 The median of column 'values' is: 8.84
 The standard deviation of column 'values' is: 0.6185452402902427

---

#### Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days for each row in the DataFrame. The moving average should be calculated using a window of size 7 and should include the current day.

Ans.

In [20]:
data = {
    "date" : pd.date_range(start = "2024-11-01", periods=10, freq = "D"),
    "sales" : [200,220,230,250,260,300,320,240,560,210]
}

df = pd.DataFrame(data)
df

        date  sales
0 2024-11-01    200
1 2024-11-02    220
2 2024-11-03    230
3 2024-11-04    250
4 2024-11-05    260
5 2024-11-06    300
6 2024-11-07    320
7 2024-11-08    240
8 2024-11-09    560
9 2024-11-10    210

In [21]:
def m_a(df):
    df = df.sort_values(by = "date")
    df["Moving average"] = df["sales"].rolling(window=7, min_periods=1).mean()
    return df

In [22]:
m_a(df)

        date  sales  Moving average
0 2024-11-01    200      200.000000
1 2024-11-02    220      210.000000
2 2024-11-03    230      216.666667
3 2024-11-04    250      225.000000
4 2024-11-05    260      232.000000
5 2024-11-06    300      243.333333
6 2024-11-07    320      254.285714
7 2024-11-08    240      260.000000
8 2024-11-09    560      308.571429
9 2024-11-10    210      305.714286

---

#### Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g. Monday, Tuesday) corresponding to each date in the 'Date' column.  

#### For example, if df contains the following values:  

____Date  
0  2023-01-01  
1  2023-01-02  
2  2023-01-03  
3  2023-01-04  
4  2023-01-05  

#### Your function should create the following DataFrame:  
____Date_____Weekday  
0 2023-01-01 Sunday  
1 2023-01-02 Monday  
2 2023-01-03 Tuesday  
3 2023-01-04 Wednesday  
4 2023-01-05 Thursday  

#### The function should return the modified DataFrame.

Ans

In [23]:
data = {
    "Date" : ["2024-11-1", "2024-11-4", "2024-11-8", "2024-11-11", "2024-11-9", "2024-11-19", "2024-11-18"]
}

df = pd.DataFrame(data)
df

         Date
0   2024-11-1
1   2024-11-4
2   2024-11-8
3  2024-11-11
4   2024-11-9
5  2024-11-19
6  2024-11-18

In [24]:
def week_day(df):
    df["Date"] = pd.to_datetime(df["Date"])
    df["Weekdays"] = df["Date"].dt.day_name()
    return df

In [25]:
modified_df = week_day(df)
modified_df

        Date  Weekdays
0 2024-11-01    Friday
1 2024-11-04    Monday
2 2024-11-08    Friday
3 2024-11-11    Monday
4 2024-11-09  Saturday
5 2024-11-19   Tuesday
6 2024-11-18    Monday

---

#### Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to be imported?

Ans.

The first and foremost library that is necesary to be imported to use the basic functions of pandas is: ***pandas***

In [26]:
import pandas as pd

**pandas** => It is the library used to perform manipulation of data.  
**pd** => It is alias, used for reference *pandas*.